# Can be install by doing
# pip install -r requirements.txt
requests==2.31.0
putio.py==8.4.0
progressbar==2.5
sqlalchemy==1.3.4
flask==1.0.3
flask-restless==0.17.0
flask-restful==0.3.7
future==0.17.1
watchdog==0.9.0
pid==2.2.3
