{% extends "base.html" %}
{% block javascript %}
    <style>
    .progress {
        height: 20px;
    }
    </style>
    <script type="text/javascript">
    function updateQueueProgress() {
        $.ajax({
            url: "/download_queue",
            dataType: "json",
            success: processQueueProgressUpdate
        })
    }

    function processQueueProgressUpdate(data) {
        console.log(data);
        $("#progress").html("");
        $.each(data.downloads, function(idx, download) {
            $download = $("<div class='row'><p>" + download.name + "</p></div>");
            if (download.downloaded > 0) {
                $progress = $(
                        "<div class='progress progress-striped'>" +
                          "<div class='progress-bar progress-bar-info'" +
                                "role='progressbar' " +
                                "style='width: " + (download.downloaded / download.size) * 100 + "%; height: 80px'>" +
                          "</div>" +
                        "</div>"
                )
                $download.append($progress);
            }
            $("#progress").append($download);
        });
    }

    $(document).ready(function() {
        setInterval(updateQueueProgress, 1000);
    })
    </script>
{% endblock %}
{% block body %}
    <h2>Current Downloads</h2>
    <div class="container" id="progress" style="width:100%">
    </div>
    <h2>Recently Completed</h2>

{% endblock %}
